#messageBoard {
    border: 3px solid black;
    padding: 5px;
    padding-left: 15px;

    height: 400px;
}

#messageSpace {
    overflow-y: scroll;
    scroll-behavior: auto;
    height: 370px;
}

#fbWriteInput {
    width: 98%;
}

button {
    background-color: white;
}

button:hover {
    background-color: lightgray;
}

button:disabled {
    background-color: gray;
}